# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/

# Environment secrets
.env
.env.local
.env.*.local

# Logs & System files
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

#schedule plan + RBL syllabus
plan.md
RBL_Syllabus_AITA_10Weeks.md